:root{
    --mFont: Verdana;
    --sFont: Courier New;

    --leadColor:     rgb(109, 255, 170);
    --leadColorShadow: rgb(50, 112, 74);
    --leadColorValues:     109, 255, 170;
    --subtitleColor: rgb(102, 204, 156);
    --textColor:     rgb(187, 187, 202);
    --bgColor:       rgb(42 ,  46, 58 );
}

body {
    background-color: var(--bgColor);
}

h1 {
    color: var(--leadColor);
    font-size: 500%;
    font-family: var(--mFont);
    font-weight: bold;
    text-shadow: 0 4px 2px var(--leadColorShadow);
    
}
h2 {
    color: var(--subtitleColor);
    font-size: 200%;
    font-family: var(--mFont);
    font-weight: bold;
    text-shadow: 0 2px 2px var(--leadColorShadow);
}
h3 {
    color: var(--subtitleColor);
    font-size: 100%;
    font-family: var(--mFont);
    font-weight: normal;
    text-shadow: 0 1px 1px var(--subtitleColor);
}
h4 {
    color: var(--subtitleColor);
    font-size: 110%;
    font-family: var(--sFont);
    font-weight: normal;
}

p {
    color: var(--textColor);
    font-size: 100%;
    font-family: var(--sFont);
    font-weight: normal;
}
a{
    color: var(--leadColor);
    font-size: 110%;
    font-family: var(--sFont);
    font-weight: normal;
    text-shadow: 0 0 15px var(--leadColor);
    text-decoration:none;
}

.iworkwith {
    display: flex;              
    flex-direction: row;        
    flex-wrap: nowrap;          
    justify-content: space-between;

    width: 70%;
    height: 110%;
}
.languages {
    float: left;
    width: 33%;
}
.apis{
    float: center;
    width: 33%;
}
.software {
    float: right;
    width: 33%;
}

.myprojects{
    flex: auto;
    flex-wrap: wrap;
    margin-trim: all;

    overflow: hidden;
}
.projectleft{
    margin-left: -50%;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 50%;
}
.projectright{
    margin-right: -50%;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 50%;
}

/* If launched on a mobile device or a shrinked browser*/
@media only screen and (max-width: 900px) {
    .iworkwith {
        display: flex;              
        flex-direction: column;        
        flex-wrap: nowrap;          
        justify-content: space-between;
        width: 70%;
        height: 110%;

        align-self: center;
        align-items: center;

        margin-bottom: 10%;
    }
    .languages {
        float: center;
        width: 100%;
        align-items: center;
        margin-bottom: 10%;
    }
    .apis{
        float: center;
        width: 100%;
        align-items: center;
        margin-bottom: 10%;
    }
    .software {
        float: center;
        width: 100%;
        align-items: center;
    }

    .myprojects{
        flex: auto;
        flex-direction: column;
        flex-wrap: wrap;
        margin-trim: all;

        overflow: hidden;
    }
    .projectleft{
        margin-left: 0;
        width: 100%;
    }
    .projectright{
        margin-right: 0;
        width: 100%;
    }

    h1 {
        font-size: 390%;
    }
}

.separator {
    
    border-style: solid;
    border-width: 7px;
    border-color: rgba(var(--leadColorValues), 0.3);

    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: 8%;
    margin-left: 8%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
      box-shadow: inset 0 0 3px rgb(0, 0, 0);
      border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: var(--leadColor);
    border-radius: 4px;
  }