@font-face { font-family: space-grotesk; 
    src: url('Fonts/SpaceGrotesk-VariableFont_wght.ttf'); } 

:root{
    --mFont: space-grotesk;
    --sFont: Courier New;

    --leadColor:     rgb(255, 174, 0);
    --leadColorShadow: rgb(88, 53, 0);
    --subtitleColor: rgb(255, 130, 46);

    --textColor:     rgb(252, 252, 252);

    --bgColor:       rgb(37, 34, 31);
}

html{
    scroll-behavior: smooth;
}
body {
    background-color: var(--bgColor);
    margin: 0px;
}

h1 {
    color: var(--leadColor);
    font-size: 450%;
    font-family: var(--mFont);
    font-weight: bold;
    text-shadow: 0 4px 2px var(--leadColorShadow);
    
}
h2 {
    color: var(--subtitleColor);
    font-size: 280%;
    font-family: var(--mFont);
    font-weight: bold;
    text-shadow: 0 2px 2px var(--leadColorShadow);
}
h3 {
    color: var(--subtitleColor);
    font-size: 100%;
    font-family: var(--mFont);
    font-weight: normal;
    text-shadow: 0 1px 1px var(--subtitleColor);
}
h4 {
    color: var(--subtitleColor);
    font-size: 110%;
    font-family: var(--sFont);
    font-weight: normal;
}
h5{
    font-size: 200%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: var(--sFont);
    font-weight: normal;
}
h6{
    font-size: 400%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    font-family: space-grotesk;
    color: var(--leadColor);
}

p {
    color: var(--textColor);
    font-size: 130%;
    font-family: var(--sFont);
    font-weight: normal;
}
a{
    color: var(--leadColor);
    font-size: 110%;
    font-family: var(--sFont);
    font-weight: normal;
    text-shadow: 0 0 15px var(--leadColor);
    text-decoration:none;
}

.aboutme {
    margin-left: 4%;
    margin-right: 4%;
}

.iworkwith {
    display: flex;              
    flex-direction: row;        
    flex-wrap: nowrap;          
    justify-content: space-between;

    width: 70%;
    height: 110%;
}
#coloricon{
    filter: brightness(80%);
}
.languages {
    float: left;
    width: 33%;
}
.apis{
    float: center;
    width: 33%;
}
.software {
    float: right;
    width: 33%;
}

.bestprojectscontainer{
    flex: auto;
    flex-wrap: wrap;
    margin-trim: all;

    overflow: hidden;
}
.bestproject{
    float: center;

    width: 50%;
    height: 30%;

    cursor: pointer;

    background-size: cover;
    background-position: center;

    backdrop-filter: blur(10%);

    padding-top: 4%;
    padding-bottom: 4%;

    border: 2px solid var(--leadColor);

    text-shadow: var(--bgColor) 0 0 4px, var(--bgColor) 0 0 15px;

    transition: 0.3s;

    border-radius: 20px;

    font-size: 100%;
    font-family: var(--sFont);
}
.bestproject:hover{
    border-radius: 40px;

    transform: scale(0.95, 0.95);
    box-shadow: inset 0 0 25px var(--bgColor), inset 0 0 45px var(--bgColor);
}

.myprojects{
    flex: auto;
    
    flex-direction: column;
    flex-wrap: wrap;

    margin-trim: all;

    overflow: hidden;
}
.project{
    float: center;

    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;

    margin-bottom: 4%;

    background-size: cover;
    border-radius: 20px;
    background-position: center;
    
    text-shadow: var(--bgColor) 0 0 10px, var(--bgColor) 0 0 15px;

    backdrop-filter: blur(100px);

    text-align: left;

    height: 10%;
    width: 60%;
}
.datetime{
    margin-top: -2.8%;
    color: rgb(204, 204, 204);
}

.navigationpanel{
    display: flex;              
    flex-direction: row;        
    flex-wrap: nowrap;          

    background-color: var(--leadColor);

    overflow: hidden;

    margin-trim: all;
}
.navigationbuttoncontainer{
    display: flex;              
    flex-direction: row;        
    flex-wrap: nowrap;          
    justify-content: space-around;

    width: 100%;

}
.navigationbutton{
    float: center;

    width: 50%;

    cursor: pointer;

    background-color: var(--leadColor);
    border: 2px solid var(--leadColor);

    text-shadow: var(--bgColor) 0 0 4px, var(--bgColor) 0 0 15px;

    transition: 0.3s;

    border-radius: 20px;

    font-size: 110%;
    font-family: var(--sFont);
}
.navigationbutton:hover{
    background-color: var(--bgColor);

    width: 100%;

    color: var(--textColor);
    transform: scale(0.92 ,0.92);
}

.bottompanel{
    overflow: hidden;
    background-color: var(--leadColor);
    margin-bottom: -10%;
    margin-top: 8%;
    align-items: center;
}

/* If launched on a mobile device or a shrinked browser*/
@media only screen and (max-width: 1290px) {
    .navigationpanel{        
        flex-direction: column;        
        flex-wrap: wrap;          
    }
    .navigationbuttoncontainer{            
        flex-direction: column;        
        flex-wrap: wrap;          
    }
    .navigationbutton{
        width: 100%;
    }
    .iworkwith {
        display: flex;              
        flex-direction: column;        
        flex-wrap: nowrap;          
        justify-content: space-between;
        width: 70%;
        height: 110%;

        align-self: center;
        align-items: center;

        margin-bottom: 10%;
    }
    .languages {
        float: center;
        width: 100%;
        align-items: center;
        margin-bottom: 20%;
    }
    .apis{
        float: center;
        width: 100%;
        align-items: center;
        margin-bottom: 20%;
    }
    .software {
        float: center;
        width: 100%;
        align-items: center;
    }

    .myprojects{
        flex: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-trim: all;

        overflow: hidden;
    }
    .projectcontainer{
        flex: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-trim: all;

        overflow: hidden;
    }
    .projectphoto{
        width: 40%;
        float: left;
    }
    .projectdescription{
        width: 40%;
        float: right;
    }

    h1 {
        font-size: 350%;
    }

    .navigationbutton{
        background-color: var(--bgColor);

        margin-bottom: 1%;
        margin-top: 1%;
        margin-right: 1%;
        margin-left: 1%;
    }
    .bestproject {
        width: 90%;
    }

    h5 {
        font-size: 200%;
    }
    h6 {
        font-size: 250%;
    }
    p {
        font-size: 120%;
    }
}

.separator {
    
    border-style: solid;
    border-width: 2px;
    border-color: var(--leadColor);

    background-color: var(--leadColor);

    opacity: 0.3;

    margin-top: 8%;
    margin-bottom: 8%;
    margin-right: 8%;
    margin-left: 8%;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
      box-shadow: inset 0 0 3px rgb(0, 0, 0);
      border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: var(--leadColor);
    border-radius: 4px;
  }