:root{
    --mFont: Verdana;
    --sFont: Courier New;

    --leadColor:     rgb(109, 255, 170);
    --leadColorValues:     109, 255, 170;
    --subtitleColor: rgb(102, 204, 156);
    --textColor:     rgb(187, 187, 202);
    --bgColor:       rgb(42 ,  46, 58 );
}

body {
    background-color: var(--bgColor);
}

h1 {
    color: var(--leadColor);
    font-size: 500%;
    font-family: var(--mFont);
    font-weight: bold;
    text-shadow: 0px 2px 3px var(--leadColor);
}
h2 {
    color: var(--subtitleColor);
    font-size: 155%;
    font-family: var(--mFont);
    font-weight: bold;
    text-shadow: 0px 1px 1px var(--subtitleColor);
}
h3 {
    color: var(--subtitleColor);
    font-size: 100%;
    font-family: var(--mFont);
    font-weight: normal;
    text-shadow: 0px 1px 1px var(--subtitleColor);
}
h4 {
    color: var(--subtitleColor);
    font-size: 110%;
    font-family: var(--sFont);
    font-weight: normal;
}

p {
    color: var(--textColor);
    font-size: 100%;
    font-family: var(--sFont);
    font-weight: normal;
}
a{
    color: var(--leadColor);
    font-size: 100%;
    font-family: var(--sFont);
    font-weight: normal;
    text-shadow: 0px 1px 5px var(--leadColor);
}


.separator {
    border-style: solid;
    border-width: 6px;
    border-color: rgba(var(--leadColorValues), 0.3);

    margin: 100px;
}

.familiarwith {
    display: flex;              
    flex-direction: row;        
    flex-wrap: nowrap;          
    justify-content: space-between;
    width: 70%;
    height: 110%;
}
.withleft {
    float: left;
    width: 33%;
}
.withcenter{
    float: center;
    width: 33%;
}
.withright {
    float: right;
    width: 33%;
}

.myprojects{
    flex: auto;
    flex-wrap: wrap;
    margin-trim: all;

    overflow: hidden;
}
.projectleft{
    margin-left: -50%;
    margin-bottom: 5%;
    margin-top: 3%;
    width: 33%;
}
.projectright{
    margin-right: -50%;
    margin-bottom: 5%;
    margin-top: 3%;
}


::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
      box-shadow: inset 0 0 3px rgb(0, 0, 0);
      border-radius: 4px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--leadColor);
    border-radius: 4px;
  }