@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;

	padding: 0;
	margin: 0;
}

.h-bar {
	height: 3.5rem;
}

.h-screen-no-bar {
	height: calc(100vh - 3.5rem);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.textUnderlineAnim{
	position: relative;
}

.textUnderlineAnim::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	background-color: #000;
	transition: 0.5s;
}

.textUnderlineAnim:hover::before {
	animation: underline .3s ease-in-out forwards;
}

.textUnderlineAnim:not(:hover)::before {
	animation: deUnderline .3s ease-in-out forwards;
}

@keyframes underline {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes deUnderline {
	0% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}

.arrowZoom > svg {
	transition: ease-in-out .3s;
}

.arrowZoom:hover > svg:first-child {
	transform: translateX(8px);
}

.arrowZoom:hover > svg:last-child {
	transform: translateX(-8px);
}